:root{
    --primary:#0077b6;
    --secondary:#48cae4;
    --black:#333;
    --white:#fff;
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
}
*{
    font-family: sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 80%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-thumb{
    background: var(--primary);
    border-radius: .5rem;
}

section{
    padding: 5rem 7%;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background: var(--primary);
    border-radius: .5rem;
    color: var(--white);
    font-size: 1.7rem;
    cursor: pointer;
}

.btn:hover{
background: var(--secondary);
}

.header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: var(--white);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}

h1{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}

.header .navbar a{
    font-size: 1.7rem;
    color: var(--black);
    margin: 0 1rem;
}

.header .navbar .active{
    color: var(--primary);
}

.header .navbar a:hover{
    color: var(--primary);
}

.header .navbar .btn{
    color: var(--white);
}

.header .navbar .btn:hover{
    color: var(--white);
}

.home{
    padding: 0;
}
.home .image{
    min-height: 100vh;
    background-size: cover !important;
    background-position: center !important;
}

.availability form{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    background: #eee;
    padding: 2rem;
    border-radius: .5rem;
}

.availability form .box{
    flex: 1 1 17rem;
}

.availability form .box p{
    font-size: 1.8rem;
    color: var(--primary);
}

.availability form .box .input{
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    color: var(--black);
    margin: 1rem 0;
    border-radius: .5rem;
}

.about .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 6rem;
}

.about .row .image{
    flex: 1 1 30rem;
}

.about .row .image img{
    width:100%;
}

.about .row .content{
    flex: 1 1 51rem;
}

.about .row .content h3{
    font-size: 3.5rem;
    color: var(--primary);
    padding: 2rem 0;
}

.about .row .content p{
    font-size: 1.2rem;
    color: #666;
    padding: 1rem 0;
    line-height: 1.8;
}
footer{
    font-size: 15px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}